.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-top: 10px;
}

.bottom_btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.select_btn {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: var(--color-btn);
    border: 1px solid var(--color-btn-border);
    margin: 10px;
    display: inline-block;
    cursor: pointer;
    align-items: center;
    text-align: center;
}

.select_btn:hover {
    background-color: var(--color-btn-dark);
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .1);
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.select_btn:active {
    background-color: var(--color-btn-pressed);
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .1);
    transform: translateY(4px);
}

.select_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.titles {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

.board_type {
    margin-left: 20px;
}

.back_btn {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: var(--color-btn-back);
    border: 1px solid var(--color-btn-border);
    margin: 10px;
    display: inline-block;
    cursor: pointer;
    align-items: center;
    text-align: center;
}

.back_btn:hover {
    background-color: var(--color-btn-back-dark);
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .1);
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.back_btn:active {
    background-color: var(--color-btn-back-pressed);
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .1);
    transform: translateY(4px);
}

.tutorial_btn {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: var(--color-btn-tutorial);
    border: 1px solid var(--color-btn-border);
    margin: 10px;
    display: inline-block;
    cursor: pointer;
    align-items: center;
    text-align: center;
}

.tutorial_btn:hover {
    background-color: var(--color-btn-tutorial-dark);
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .1);
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.tutorial_btn:active {
    background-color: var(--color-btn-tutorial-pressed);
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .1);
    transform: translateY(4px);
}

@media screen and (min-width: 1200px) {
    .board {
        min-width: 300px;
        max-width: 1000px;
    }

    .boards_container {
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }

    .scores {
        margin: 10px;
    }

    .select_btn {
        font-size: 1.25rem;
        width: 500px;
        height: 50px;
    }

    .back_btn {
        font-size: 1.25rem;
        width: 500px;
        height: 50px;
    }

    .tutorial_btn {
        font-size: 1.25rem;
        width: 500px;
        height: 50px;
    }

    .board_type {
        margin-left: 20px;
    }

    .titles {
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .board {
        min-width: 200px;
        max-width: 600px;
    }

    .boards_container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .scores {
        margin: 10px;
    }

    .select_btn {
        width: 150px;
        height: 40px;
    }

    .back_btn {
        width: 150px;
        height: 40px;
    }

    .tutorial_btn {
        width: 150px;
        height: 40px;
    }

    .board_type {
        margin-left: 10px;
    }

    .titles {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}