.App {
  background-color: var(--color-secondary-light);
  margin: 0px;
}

.content {
  margin-top: 50px;
}

.top_board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.game_piece {
  width: 50px;
  border-radius: 5px;
  background-color: var(--color-btn);
  border: 1px solid var(--color-btn-border);
  margin: 10px;
  display: inline-block;
  cursor: pointer;
  align-items: center;
  text-align: center;
  transition: background-color 0.5s ease-in-out, box-shadow 0.2s ease-in-out;
}

.game_piece:hover {
  background-color: var(--color-btn-dark);
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .1);
}

.game_piece_done {
  width: 50px;
  border-radius: 5px;
  background-color: rgb(4, 196, 4);
  border: 1px solid var(--color-btn-border);
  margin: 10px;
  display: inline-block;
  align-items: center;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.game_piece_done:hover {
  background-color: rgb(4, 196, 4);
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .1);
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.game_box {
  width: 60px;
  background-color: var(--color-main);
  color: var(--color-secondary);
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.game_box:hover {
  background-color: var(--color-main-dark);
}

.game_board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 50px;
  height: 400px;
}

.opp_pieces {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.current_row {
  display: flex;
  flex-direction: row;
}

.reset_btn {
  position: relative;
  width: 50px;
  background-color: rgb(255, 97, 97);
  transition: background-color 0.2s ease-in-out;
}

.reset_btn:hover {
  background-color: rgb(179, 34, 34);
}

.keep_btn {
  position: relative;
  text-align: center;
  width: 50px;
  background-color: rgb(255, 231, 97);
  transition: background-color 0.2s ease-in-out;
}

.keep_btn:hover {
  background-color: rgb(179, 157, 34);
}

.page_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
}

.page_select {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

@media screen and (min-width: 1200px) {
  .game_piece {
    width: 50px;
  }

  .game_piece_done {
    width: 50px;
  }

  .game_box {
    width: 60px;
  }

  .game_board {
    align-items: center;
    height: 400px;
  }

  .opp_pieces {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .game_board {
    flex-direction: column;
    align-items: center;
  }

  .opp_pieces {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .current_row {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .page_select {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .game_piece {
    width: 30px;
  }

  .game_piece_done {
    width: 30px;
  }

  .game_box {
    width: 40px;
  }

  .game_board {
    height: 200px;
  }

  .opp_pieces {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .game_board {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .opp_pieces {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .current_row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .page_select {
    font-size: 1.25rem;
  }
}