:root {
  --color-main: blue;
  --color-main-dark: darkblue;
  --color-main-light: lightblue;
  --color-secondary: red;
  --color-secondary-dark: darkred;
  --color-secondary-light: rgb(255, 155, 155);
  --color-btn: #f1356d;
  --color-btn-dark: #f1356d;
  --color-btn-light: #f1356d;
  --color-btn-border: #b92a55;
  --color-navbar: #333;
  --color-navbar-btn: #535353;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
