.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#learn_col{
    padding: 2rem;
    width: 200px;
}

.learn{
    padding: 1rem;
}

.learn_head{
    text-align: center;
}